<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p id="notice"><%= notice %></p>
    <h1>Listing Blogs</h1>
    <%= link_to "create", new_blog_path, class: 'btn btn-default' %>

    <% @blogs.each do |blog| %>
    <div class="row">
      <h4><strong>title: </strong><%= blog.title %></h4>
      <p><strong>content: </strong><%= blog.content %></p>
      <p><strong>name: </strong><%= blog.user.name %></p>
      <%= link_to "Show", blog_path(blog.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "Edit", edit_blog_path(blog.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "Destroy", blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>
